<!DOCTYPE html>
<html class="no-js" lang="en">
  <stl:include file="/include/head.html"></stl:include>
  <body>
    <div id="boxedWrapper">
      <stl:include file="/include/header.html"></stl:include>
      <stl:include file="/include/location.html"></stl:include>
      
      
      <section class="content-area bg1">
        <div class="container">
          
          <ul id="galleryFilters" class="option-set clearfix list-unstyled list-inline">
            <stl:channels topLevel="1">
              <stl:if testType="UpChannelOrSelf">
                <stl:successTemplate>
                  <li><stl:a class="btn btn-default btn-primary">{Channel.Title}</stl:a></li>
                </stl:successTemplate>
                <stl:failureTemplate>
                  <li><stl:a  class="btn btn-default">{Channel.Title}</stl:a></li>
                </stl:failureTemplate>
              </stl:if>
            </stl:channels>
          </ul>
          
          <div id="galleryContainer" class="clearfix withSpaces col-3">
            <stl:pageContents pageNum="6">
              <div class="galleryItem">
                <article class="portfolio-item">
                  <div class="portfolio-thumbnail">
                    <stl:a><img src="{Content.ImageUrl}" alt="{Content.Title}"></stl:a>
                    <stl:a class="overlay-img"><span class="overlay-ico"><i class="fa fa-plus"></i></span></stl:a>
                  </div>
                  <div class="entry-meta">
                    <span class="cat-links">{Channel.Title}</span>
                  </div>
                  <h4 class="entry-title"><stl:a><stl:content type="Title" wordNum="19" ellipsis="..."></stl:content></stl:a></h4>
                </article>
              </div>
            </stl:pageContents>
              
          </div>
           <div class="lineSeparatorMasonry clearfix"></div>
             <div class="row navigation-blog-outer">
        <stl:pageItems autoHide="true">
          <div class="col-md-3 col-xs-6 text-left">
            <stl:pageItem type="PreviousPage">
              <stl:yes>
                <a href="{Current.Url}" class="navigation-blog">← 上一页</a>
              </stl:yes>
              <stl:no>
                <a href="javascript:;" class="navigation-blog">← 上一页</a>
              </stl:no>
            </stl:pageItem>
          </div>
          <div class="col-md-3 col-xs-6 col-md-push-6 text-right">
            <stl:pageItem type="NextPage">
              <stl:yes>
                <a href="{Current.Url}" class="navigation-blog">下一页 →</a>
              </stl:yes>
              <stl:no>
                <a href="javascript:;" class="navigation-blog">下一页 →</a>
              </stl:no>
            </stl:pageItem>
          </div>
          <div class="clearfix visible-sm visible-xs"></div>
          <div class="col-md-6 col-md-pull-3">
            <ul class="pagination text-center">
              <stl:pageItem type="PageNavigation" listNum="4">
                <stl:yes>
                  <li><a href="{Current.Url}">{Current.Num}</a></li>
                </stl:yes>
                <stl:no>
                  <li class="active"><a href="javascript:;">{Current.Num}</a></li>
                </stl:no>
              </stl:pageItem>
            </ul>
          </div>
        </stl:pageItems>
      </div>
        </div>
     
      </section>
      
      <stl:include file="/include/footer.html"></stl:include>
    </div>
    <stl:include file="/include/js.html"></stl:include>
    <stl:include file="/include/stylechooser.html"></stl:include>
  </body>
</html>
