<!DOCTYPE html>
<html class="no-js" lang="en"> 
  <stl:include file="/include/head.html"></stl:include>
  <body>
    <div id="boxedWrapper">
      <stl:include file="/include/header.html"></stl:include>
      <stl:include file="/include/location.html"></stl:include>
      <section class="content-area bg1">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <stl:content type="Content"></stl:content>
            </div>
            <stl:include file="/include/sidebar.html"></stl:include>
          </div>
        </div>
      </section>
      <stl:include file="/include/footer.html"></stl:include>
    </div>
    <stl:include file="/include/js.html"></stl:include>
    <stl:include file="/include/stylechooser.html"></stl:include>
  </body>
</html>
